.button {
  --focus-shadow: var(--button-box-shadow) rgb(var(--color-primary-rgb), 40%);
  --solid-button-bg: var(--color-primary);
  --solid-button-color: white;
  --outline-button-color: var(--color-primary-dark);
  --link-button-color: var(--color-primary);
  --button-box-shadow: 0 0 0 3px;

  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: auto;

  height: 56px;
  padding-inline-start: 24px;
  padding-inline-end: 24px;

  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;

  transition-duration: 200ms;

  border: none;
  border-radius: 8px;

  outline: transparent solid 2px;
  outline-offset: -2px;

  background-color: var(--solid-button-bg);

  color: var(--solid-button-color);

  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  vertical-align: middle;

  cursor: pointer;
  user-select: none;
  appearance: none;

  &:not(.disabled) {
    &:active {
      transform: scale(0.9);
    }

    &:hover {
      transform: scale(1.1);
    }

    &:global(.focus-visible),
    &:focus {
      box-shadow: var(--focus-shadow);
    }
  }

  &button {
    white-space: nowrap;
  }

  &&&:disabled,
  &&&:disabled:hover,
  &&&:disabled:focus,
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    opacity: 0.4;

    cursor: not-allowed;
  }
}
