.layout {
  background: rgb(174, 213, 129);
  background:
    linear-gradient(
      180deg,
      rgba(var(--color-secondary-light-rgb), 100%) 50%,
      rgba(var(--color-primary-rgb), 20%) 100%
    );

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;

    min-height: 100vh;

    overflow-x: hidden;
  }
}
