.marque {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-block: 32px;
  white-space: nowrap;

  .line {
    width: 100%;
    animation: scroll 30s linear 0s infinite;
    position: absolute;
  }
}

@keyframes scroll {
  from {
    left: 100%;
  }

  to {
    left: -100%
  }
}
