.marque {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-block: 32px;

  white-space: nowrap;

  .line {
    position: absolute;
    width: 100%;

    animation: scroll 10s linear 0s infinite;
  }
}

@keyframes scroll {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}
