.score {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding-block: 5vh;

  .section {
    display: flex;
    justify-content: center;

    .scoreboard {
      color: var(--color-primary-dark);
      font-size: calc(32px + 2vw);
    }

    &.cta {
      margin-top: 24px;
    }
  }
}
