.home {
  .marquee {
    flex: 0;
  }

  .section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;

    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 2;
      justify-content: space-between;

      .wrapper {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        .title {
          font-size: calc(48px + 4vw);
          margin-bottom: 16px;
          color: var(--color-primary-dark);
        }

        .subTitle {
          color: var(--color-primary-dark);
          font-size: calc(15px + 0.390625vw);
        }
      }
    }

    &:nth-child(2) {
      width: 100%;
      flex: 1;
    }
  }
}
