:root {
  --color-primary-rgb: 92, 107, 192;
  --color-primary: #5c6bc0;
  --color-primary-light: #e8eaf6;
  --color-primary-dark: #303f9f;
  --color-secondary-light-rgb: 236, 239, 241;
  --color-secondary-rgb: 120, 144, 156;
  --color-secondary: #78909c;
  --color-secondary-light: #eceff1;
  --color-secondary-dark: #455a64;
}

html,
body {
  margin: 0;
  padding: 0;

  color: white;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

.cursive {
  font-family:
    Caveat,
    cursive,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

.text-shadow {
  color: var(--color-primary-dark);
  font-size: 1.8rem;
  font-weight: 700;
  text-shadow:
    0 1px 0 rgba(var(--color-secondary-rgb), 50%),
    1px 0 0 rgba(var(--color-secondary-rgb), 20%),
    1px 2px 1px rgba(var(--color-secondary-rgb), 80%),
    2px 1px 1px rgba(var(--color-secondary-rgb), 10%),
    2px 3px 2px rgba(var(--color-secondary-rgb), 60%),
    3px 2px 2px rgba(var(--color-secondary-rgb), 40%),
    3px 4px 2px rgba(var(--color-secondary-rgb), 10%);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
