.scoreboard {
  overflow-x: auto;

  .table {
    min-width: 520px;
    overflow: hidden;
    border-collapse: collapse;

    border-radius: 8px;

    .row {
      &.right {
        background: var(--color-secondary);
      }

      &.wrong {
        background: var(--color-primary);
      }
    }

    .cell {
      padding: 16px;

      text-align: left;
      vertical-align: middle;

      &.fixed {
        width: 100px;
      }

      svg {
        display: block;
        width: 16px;
        height: 16px;
        margin: 0 auto;
      }
    }
  }
}
